/** projekt: webdok**/


/* Google fonts */
/* font-family: italiana, serif; font-style: regular; */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


/* Variabler gemmes*/
:root {
  /* farver */
  --offwhite: #fff9f4;
  --beige: #f2ece7;
  --grey: #c3c4c0;
  --blue: #a0d2f7;
  --darkgrey: #454343;


  /* fonte */
  --overskrift: 'italiana', serif; /* overskrifter */
  --brødtekst: 'Helvetica Neue', sans-serif;/* brødtekst */
}

body {
  background-color: var(--beige);
}

header {
  background-color: var(--darkgrey);
  height: 42px;
  color: var(--offwhite);

}

#headertekst {
  font-family: var(--brødtekst);
  font-size: 15px;
  text-align: center;
  padding-top: 1%;
}

/* typografi */
h1 {
  font-family: var(--overskrift);
  font-weight: 200;
  color: var(--offwhite);
  background-color: var(--darkgrey);
}

/*********** indhold ************/
/*  indhold 2 = om Emma */

article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--beige);
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Billede af Emma */
.left {
  width: 50%;
  height: 500px;
  background: url(../images/emma.JPG)
  no-repeat center / cover;
}

/* Tekst boks */
.right {
  display: flex;
  color: var(--darkgrey);
  line-height: 30px;
  font-family: var(--brødtekst);
  font-weight: 200;
}

.content{
  float: right;
}


/* Banner - Overvejelser inden praktik + student and company days*/
.banner{
  background-color: var(--darkgrey);
  width: 103%;
  margin-left: -10px;
}

.banner h1{
font-family: var(--overskrift);
font-size: 30px;
color: var(--beige);
padding-left: 15%;
padding-top: 40px;
}

.banner p{
font-size: 18px;
font-family: var(--brødtekst);
color: var(--beige);
padding-left: 15%;
padding-right: 15%;
padding-top: 10px;
padding-bottom: 40px;
line-height: 2.5;
}


/* indhold 5 */
.fedtekst {
  font-family: var(--overskrift);
  color: var(--darkgrey);
}

.beskrivelse {
  font-family: var(--brødtekst);
  font-weight: 200;
  color: var(--darkgrey);
}

.citat {
  font-family: var(--brødtekst);
  font-style: italic;
  font-weight: 200;
  color: var(--darkgrey);
}

/* indhold 7 */

#fremtidtekst {
  font-family: var(--brødtekst);
  font-weight: 200;
  color: var(--darkgrey);
  text-align: center;
  line-height: 30px;
}


/* footer */

footer {
  margin-top: 20%;
}

#footerInformation{
  background-color: var(--darkgrey);
  width: 105%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -10px;
  margin-bottom: -5%;
}

#footerInformation p{
  font-family: var(--brødtekst);
  color: var(--offwhite);
  font-size: 15px;
  text-align:center;
}


/* Mobil, 768px and down) */
@media only screen and (max-width: 768px) {

  .overskrifter {
    max-width: 80%;
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
  }

/* Indhold mobil -
/* Indhold 1 - video */
video {
      margin-top: 35px;
      padding-left: 10%;
      padding-right: 10%;
      height: 80%;
      width: 80%;
      display: block;
    }

/* Indhold 2 - Om Emma */
    article {
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: var(--beige);
    }

    .container {
      display: block;
      margin-bottom: 10%;
    }

/* Billede af Emma */
    .left {
      display: none;
    }

  .mobilemmabillede{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* Tekst boks */
    .right {
      width: 100%;
      text-align:center;
    }

/* Overskift - billede */
    .overskrifterover{
    display: none;
    }

.mobilemmaoverskrift{
  max-width: 80%;
  margin-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
}

/* Tekst */
    .content{
      padding-left: 20px;
      text-align: center;
    }

  /* Banner - Overvejelser inden praktik + student and company days - mobil */

  .banner{
    margin-bottom: 10%;
    margin-top: 20%;
  }

  .banner h1{
  font-size: 18px;
  padding-left: 15%;
  padding-top: 30px;
  }

  .banner p{
  font-size: 14px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10px;
  padding-bottom: 40px;
  }


/* indhold 4 - mobil*/

#video2 {
  margin-bottom: 25%;
}

/* indhold 5 - mobil*/

  #indhold5 { /*margin på indholdet*/
    margin-left: 10%;
    margin-right: 10%;
  }

  .fedtekst, .beskrivelse, .citat {
    text-align: center;
  }

  .fedtekst {
    font-size: 17px;
  }

  .beskrivelse {
    font-size: 14px;
  }

  .citat {
    font-size: 17px;
  }

  .row5 img {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .column5 {
    margin-top: 10%;
  }


  /* indhold 7 */

  #indhold7 { /*margin på indholdet*/
    margin-left: 10%;
    margin-right: 10%;
  }

  .row7 video {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }



  /* Baggrunds billeder styles */

  .rellax {
  display: none;
}

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .overskrifter {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

/* Indhold 1 - video */
  video {
    margin-top: 35px;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    width: 80%;
    display: block;
    margin-bottom: 10%;
}

/*  indhold 2 = om Emma */
/* overskrift */
    .overskrifterover{
     margin-top: 5%;
     margin-left: 70%;
     width: 110%;
    }

    .mobilemmaoverskrift{
      display: none;
    }

    .mobilemmabillede{
      display: none;
    }

/* Tekst boks */
    .right {
      width: 50%;
      display: flex;
      float: right;
      padding: 60px;
      margin-left: -150px;
      margin: 100px 0;
    }

  .banner{
      margin-bottom: 10%;
      margin-top: 15%;
    }

/* indhold 5 - ipad */

  #indhold5 { /*margin på indholdet*/
    margin-left: 10%;
    margin-right: 10%;
  }

  .fedtekst, .beskrivelse, .citat {
    text-align: center;
  }

  .fedtekst {
    font-size: 30px;
  }

  .beskrivelse {
    font-size: 25px;
  }

  .citat {
    font-size: 27px;
  }

  .row5 img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .column5 {
    margin-top: 10%;
  }


  /* indhold 7 - ipad */

  #indhold7 { /*margin på indholdet*/
    margin-left: 10%;
    margin-right: 10%;
  }

  .row7 video {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #fremtidtekst {
    font-size: 25px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;

  }


/* Baggrunds billeder styles */
.rellax {
      display: none;
    }

}




/* Computer (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  body {
   background-color: var(--beige);
   background-image: url('../images/baggrund1.png');
   background-repeat: repeat-y;
  }

  .overskrifter {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  video {
    margin-top: 35px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  /*  indhold 2 = om Emma */
  /* overskrift */
    .overskrifterover{
     margin-top: 5%;
     margin-left: 70%;
     width: 110%;
    }

    .mobilemmaoverskrift{
      display: none;
    }
      .mobilemmabillede{
        display: none;
      }

    .right {
      width: 50%;
      display: flex;
      float: right;
      padding: 60px;
      margin-left: -150px;
      margin: 100px 0;
    }

  /* Baggrunds billeder styles */

  .rellax img {
    max-width: 160px;
  }

  .sky1 {
    padding-left: 3%;
  }

  .sky3 {
    padding-left: 80%;
  }

  .sky4 {
    padding-left: 85%;
  }

  .sky5 {
    padding-left: 3%;
  }


  /* indhold 5 - laptop */

    #indhold5 {
      margin-bottom: 10%;
    }

    .column5 {
      display: flex;
      margin-top: 10%;
      margin-left: 15%;
      margin-right: 15%;
    }

    .mette {
      flex-direction: row-reverse;
    }

    .row5 img {
      max-width: 350px;
    }

    .rowtekst {
      margin-left: 10%;
      margin-right: 7%;
    }

    .fedtekst {
      font-size: 40px;
    }

    .beskrivelse {
      font-size: 20px;
    }

    .citat {
      font-size: 30px;
    }


    /* indhold 7 - Laptop */

    .column7 {
      display: flex;
      flex-direction: row-reverse;
    }

    .row7 video {
      width: 5000px;
    }

    #fremtidtekst {
      font-size: 20px;
      margin-right: -20%;
      margin-left: 30%;
      margin-top: 20%;
    }


    footer {
      margin-top: 15%;
    }
}
